:host {
    display: flex;
    flex-direction: column;

    > .scroll-wrapper {
        flex: 1 1 auto;
    }

    > form {
        display: flex;
        flex: 0 1 auto;

        & > input {
            flex: 1 1;
        }
    }
}

.song-length-column {
    width: 1px;
}