:host {
    display: flex;
    flex-direction: column;

    > .scroll-wrapper {
        flex: 1 1 auto;
    }

}

.queued-song-row {
    cursor: pointer;
}

.song-length-column {
    width: 1px;
}

.song-source-column {
    white-space: nowrap;
    width: 1px;
}