<div mat-dialog-title>Add Singer</div>

<form>
    <mat-form-field appearance="fill">
        <mat-label>Name of Singer</mat-label>
        <input matInput [formControl]="queryControl">
    </mat-form-field>
    <button (click)="search();false;">Search</button>
</form>

<mat-dialog-content>
    <div class='empty' *ngIf="singers !== undefined && singers.length === 0">No singers found.</div>

    <div *ngIf="singers !== undefined && singers.length > 0">
        <table >
            <thead>
                <tr>
                    <th class='name-column'>Name</th>
                    <th class='last-sang-column'>Last Sang</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let singer of singers" class="singer-row" [ngClass]="{'selected': singer === selectedSinger }" (click)="selectedSinger=singer">
                    <td class='name-column'>{{ singer.name }}</td>
                    <td class='last-sang-column'>--/--/--</td>
                </tr>
            </tbody>
        </table>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button (click)="returnNewSinger()">Create New</button>
    <button *ngIf="selectedSinger" (click)="returnSelectedSinger()">Add Selected</button>
</mat-dialog-actions>