:host {
    display: block;
    padding: 1em;
    overflow: auto;
    width: 1024px;
    margin: auto;
    background: #323232;
}

mat-form-field {
    display: block;
}

button {
    float: right;
}
