<h1>Login</h1>

<div class='error' *ngIf="showError">Invalid username and/or password.</div>
<form [formGroup]="form" (submit)="login()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput type="text" formControlName="username" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password"/>
    </mat-form-field>

    <button mat-flat-button color="primary">Login</button>
</form>