<h1>Venues Manager</h1>
<div class='manager-actions'>
    <button (click)="openEditVenueDialog()">Create Venue</button>
</div>
<div class='scroll-wrapper'>
    <div class='empty' *ngIf="venues.length <= 0">No Venues found.</div>
    <table *ngIf="venues.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let venue of venues" class="venue-row" [ngClass]="{'selected': venue === selectedVenue }" (contextmenu)="menuTrigger.openMenu();" (mousedown)="selectedVenue=venue">
                <td class='name-column'>{{ venue.name }}</td>
                <td class='options-column'>
                    <a mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openEditVenueDialog(venue)">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="openDeleteVenueDialog(venue)" *ngIf="venue.id !== 1">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<form>
    <input type="text" placeholder="Enter the name of the venue here, use * for wildcard searches.">
    <button>Search</button>
</form>