/* ═══════════════════════════════════════════════════════════════════════════
   Media Edit Dialog
   ═══════════════════════════════════════════════════════════════════════════ */

.kh-media-edit-dialog {
    &__label-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
