<div mat-dialog-title>Performance History for {{ selectedQueuedSinger?.singer?.name }}</div>

<mat-dialog-content>
    <div class='loading' *ngIf="loading">Loading...</div>
    <div class='empty' *ngIf="!selectedQueuedSinger?.singer && !loading">No Singer selected.</div>
    <div class='empty' *ngIf="getPerformanceCount() <= 0 && selectedQueuedSinger?.singer && !loading">Selected singer has no performance history.</div>
    <table *ngIf="getPerformanceCount() > 0">
        <thead>
            <tr>
                <th>Song</th>
                <th>Band</th>
                <th>Venue</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let singerPerformance of singerPerformances" class="singer-performance-row" [ngClass]="{'selected': singerPerformance === selectedSingerPerformance }" (mousedown)="selectedSingerPerformance=singerPerformance">
                <td class='song-name-column'>{{ singerPerformance?.song?.name ?? 'ERROR' }}</td>
                <td class='song-band-name-column'>{{ singerPerformance?.song?.bandName ?? 'ERROR' }}</td>
                <td class='venue-name-column'>{{ singerPerformance?.venue?.name ?? 'ERROR' }}</td>
                <td class='date-column'>{{ singerPerformance?.date ? (singerPerformance?.date | date:"YYYY/MM/dd") : 'ERROR' }}</td>
            </tr>
        </tbody>
    </table>
</mat-dialog-content>

<div class='table-footer'>
    <div>Performances: {{ getPerformanceCount() }}</div>
</div>

<mat-dialog-actions *ngIf="selectedSingerPerformance">
    <button (click)="addSelectedSongToSelectedQueuedSinger()">Add to Queue</button>
</mat-dialog-actions>