:host {
    display: block;
}

th {
    width: 25%;
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.05);
    text-align: right;
}

td {
    position: relative;
    padding: 0.5em;
}

.song-controls {
    position: absolute;
    right: 0em;
    top: 0em;
}