@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@mixin unselectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
 }

/* START CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CSS RESET */

html, body {
	height: 100vh;
	@include unselectable;

	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
	display: flex;
	flex-flow: column;
	height: 100%;
}

kh-header {
	position: relative;
    height: 4em;

    .logo {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0.5rem;

        font-size: 2em;

        &::before {
            content: 'k';
            vertical-align: auto;
        }
    
        &::after {
            content: "Host";
            vertical-align: auto;
        }
    }

    > kh-main-menu {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0.5rem;
    }
}

table {
	width: 100%;
	
	tr {
		> th {
			text-align: left;
			font-weight: bold;
			padding: 0.25em 0.5em;
		}

		> td {
			padding: 0.25em 0.5em;

			> a {
				display: block;
			}

			&.drag-column {
				width: 1px;
				cursor: grab;

				> * {
					vertical-align: middle;
				}
			}

			&.options-column {
				position: relative;
				text-align: right;
				white-space: nowrap;
				width: 0%;

				a {
					display: inline-block;
					padding: 0 0.2em;
					vertical-align: middle;
				}
			}
		}		
	}
}

.table-footer {
	font-size: 0.75em;
    background: rgba(255, 255, 255, 0.05);
    text-align: right;
    padding: 0.5em;
}

ol {
	> li {
		padding: 0.5em;

		&:nth-child(odd) {
			background: rgba(255, 255, 255, 0.03);
		}
	}
}

button {
	border: 0;
	padding: 1em;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	cursor: pointer;
	margin-right: 0.25em;
}

select {
	padding: 1em;

	> option {
		padding: 1em;
	}
}

input {
	border: 0px;
	padding: 1em;

	&:focus {
		outline: 1px solid;
	}
}

label {
	font-weight: bold;
}

a {
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 10px;
}

.scroll-wrapper {
	overflow-y: scroll;
}

.component-title {
	font-size: 1.5em;
	background: rgba(255, 255, 255, 0.3);
	padding: 0.5em;
}

.cdk-drag-preview {
	display: none;
}

.empty {
	text-align: center;
	margin: 1em;
}

.mat-menu-content {
	table {
		> tbody {
			> tr {
				> th {
					background: transparent;
				}

				> td {
					text-align: right;
				}
			}
		}
	}
}

.manager-actions {
	position: absolute;
	right: 1em;
	top: 0.5em;
}

ng-component {
	position: relative;
}

mat-dialog-actions {
	justify-content: right;
}

mat-form-field {
	width: 100%;
}