:host {
    display: block;
    position: relative;
    flex: 1 1 auto;
    padding: 0 0 0 20%;

    height: 100%;
    overflow: hidden;
}

kh-song-controls {
    height: 20%;
    width: 50%;
}

kh-queued-singers {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 20%;
}

kh-queued-songs {
    height: 30%;
}

kh-song-search {
    height: 50%;
}