.kh-media-edit-dialog {
    &__label-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__status {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
}
