<h1>Singers Manager</h1>
<div class='manager-actions'>
    <button (click)="openEditSingerDialog()">Create Singer</button>
</div>
<div class='scroll-wrapper'>
    <div class='loading' *ngIf="searching">Searching...</div>
    <div class='empty' *ngIf="singers.length <= 0 && !searching">No Singers found.</div>
    <table *ngIf="singers.length > 0">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Sang</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let singer of singers" class="singer-row" [ngClass]="{'selected': singer === selectedSinger }" (contextmenu)="menuTrigger.openMenu();" (mousedown)="selectedSinger=singer">
                <td class='name-column'>{{ singer.name }}</td>
                <td class='last-sang-column'>{{ singer.lastSang ? (singer.lastSang | date) : 'Never' }}</td>
                <td class='options-column'>
                    <a mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openEditSingerDialog(singer)">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="openDeleteSingerDialog(singer)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<form [formGroup]="form" (submit)="search()">
    <input type="text" placeholder="Enter the name of the singer, use % for wildcard searches." formControlName="query">
    <button>Search</button>
</form>