<div mat-dialog-title>{{ isNew() ? 'Create' : 'Edit' }} Song</div>

<form [formGroup]="form" (submit)="save()">
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Band Name</mat-label>
            <input matInput formControlName="bandName">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Source</mat-label>
            <input matInput formControlName="source">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Karaoke Brand</mat-label>
            <input matInput formControlName="karaokeBrand">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Local Path</mat-label>
            <input matInput formControlName="localPath">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Remote Path</mat-label>
            <input matInput formControlName="remotePath">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>State</mat-label>
            <mat-select formControlName="state">
                <mat-option *ngFor="let state of [{name: 'Unknown', value: 0}, {name: 'Ready', value: 1}]" [value]="state.value">
                  {{ state.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Length In Seconds</mat-label>
            <input matInput formControlName="lengthInSeconds">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Notes</mat-label>
            <textarea matInput formControlName="notes"></textarea>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button>{{ isNew() ? 'Create' : 'Update' }}</button>
    </mat-dialog-actions>
</form>