<div class='component-title'>Singers</div>
<div class='scroll-wrapper'>
    <div class='empty' *ngIf="queuedSingers.length <= 0">No singers queued.</div>
    <table *ngIf="queuedSingers.length > 0">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Songs</th>
                <th></th>
            </tr>
        </thead>
        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
            <tr *ngFor="let queuedSinger of queuedSingers" cdkDrag class="singer-row" [ngClass]="{'selected': queuedSinger === selectedQueuedSinger }" (contextmenu)="menuTrigger.openMenu();" (mousedown)="selectedQueuedSinger=queuedSinger">
                <td class='drag-column' cdkDragHandle (touchstart)="selectedQueuedSinger=queuedSinger"><mat-icon>drag_handle</mat-icon></td>
                <td class='name-column'>{{ queuedSinger.singer?.name }}</td>
                <td class='count-column'>{{ queuedSinger.queuedSongsCount }}</td>
                <td class='options-column'>
                    <a mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="moveToTop(queuedSinger)">
                            <mat-icon>north</mat-icon>
                            <span>Move To Top</span>
                        </button>
                        <button mat-menu-item (click)="moveUp(queuedSinger)">
                            <mat-icon>arrow_upward</mat-icon>
                            <span>Move Up</span>
                        </button>
                        <button mat-menu-item (click)="moveDown(queuedSinger)">
                            <mat-icon>arrow_downward</mat-icon>
                            <span>Move Down</span>
                        </button>
                        <button mat-menu-item (click)="moveToBottom(queuedSinger)">
                            <mat-icon>south</mat-icon>
                            <span>Move to Bottom</span>
                        </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="openSingerPerformanceHistoryDialog()">
                            <mat-icon>history</mat-icon>
                            <span>Performance History</span>
                        </button>
                        <mat-divider></mat-divider>
                        <button mat-menu-item (click)="remove(queuedSinger)">
                            <mat-icon>delete</mat-icon>
                            <span>Remove from Queue</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class='table-footer'>
    <div>Singers: {{ queuedSingers.length }}</div>
</div>
<button id="add-singer" (click)="openAddSingerDialog()">Add Singer</button>
