<h1>Songs Manager</h1>
<div class='manager-actions'>
    <button (click)="openEditSongDialog()">Create Song</button>
</div>
<div class='scroll-wrapper'>
    <div class='loading' *ngIf="searching">Searching...</div>
    <div class='empty' *ngIf="songs.length <= 0 && !searching">No Songs found.</div>
    <table *ngIf="songs.length > 0 && !searching">
        <thead>
            <tr>
                <th>Name</th>
                <th>Band</th>
                <th>Length</th>
                <th>Karaoke Brand</th>
                <th>Local</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let song of songs" class="song-row" [ngClass]="{'selected': song === selectedSong }" (contextmenu)="menuTrigger.openMenu();" (mousedown)="selectedSong=song">
                <td class='song-name-column'>{{ song?.name }}</td>
                <td class='song-band-name-column'>{{ song?.bandName }}</td>
                <td class='song-length-column'>{{ song?.lengthInSeconds ? (song?.lengthInSeconds | secondsToMinutes) : 'UNKNOWN' }}</td>
                <td class='song-karaokebrand-column'>{{ song?.karaokeBrand }}</td>
                <td class='song-local'>{{ song?.localPath ? 'True' : 'False' }}</td>
                <td class='options-column'>
                    <a mat-icon-button #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </a>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openEditSongDialog(song)">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="openDeleteSongDialog(song)">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class='table-footer'>
    <div class='total-songs'>Songs: {{ songs.length }}</div>
</div>
<form [formGroup]="form" (submit)="search()">
    <input type="text" placeholder="Enter the name of the song or band here, use % for wildcard searches." formControlName="query">
    <button>Search</button>
</form>