<div class='component-title'>Performance</div>

<table>
    <tbody>
        <tr>
            <th>Current Singer:</th>
            <td>{{ singer?.name ?? "No Singer" }}</td>
        </tr>
        <tr>
            <th>Current Song:</th>
            <td>
                {{ song?.name ?? "No Song" }}
                <div class='song-controls'>
                    <a mat-icon-button title='Play' *ngIf="!isPlaying()"><mat-icon>play_arrow</mat-icon></a>
                    <a mat-icon-button title='Pause' *ngIf="!isPaused()"><mat-icon>pause</mat-icon></a>
                    <a mat-icon-button title='Stop' *ngIf="!isStopped()"><mat-icon>stop</mat-icon></a>
                </div>
            </td>
        </tr>
        <tr>
            <th>Song Time:</th>
            <td>{{ timeExpiredInSeconds | secondsToMinutes }}/{{ song?.lengthInSeconds | secondsToMinutes }}</td>
        </tr>
    </tbody>
</table>