:host {
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow: hidden;

    > h1 {
        padding: 0.5em;
    }

    > .scroll-wrapper {
        flex: 1 1 auto;
    }

    > form {
        display: flex;

        > input {
            flex: 1 1 auto;
        }
    }
}

button {
    margin: 0;
}

tr {
    cursor: pointer;
}